*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid{
  margin: 0;
  padding: 0;
}

.wbox{
  background-color: #504945;
}

.Topbar{
  position: sticky;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 5px 5px 5px;
}

html {
  scroll-behavior: smooth;
}

.Button{
  height: 40px;
  width: 90px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transition: transform 0.1s ease;
}

.Button.animate{
  transform: scaleY(0.90);
}

.fButton{
  height: 80%;
  width:100%;
  border: none;
  border-radius: 5px;
  color: #fbf1c7;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 12pt;
}

.home{
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
}

.homebox{
  background-color: #ebdbb2;
  border: none;
  border-radius: 5px;
}

.nameCursor{
  display: flex;
  flex-direction: column;
  height: 400px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px){
  .nameCursor{
    height: 200px;
  }
}

@keyframes typing{
  from {width: 0;}
  to {width: 100%;}
}

.name{
  font-family: 'Times New Roman', Times, serif;
  font-size: 32pt;
  font-weight: bolder;
  color: #3c3836;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s steps(40, end);
}
@media only screen and (max-width: 600px){
  .name{
    font-size: 24pt;
  }
}

@keyframes blinking{
  0% {opacity: 100%;}
  50% {opacity: 25%;}
  100% {opacity: 100%;}
}

.cursor{
  height: 60px;
  width: 20px;
  background-color: #3c3836;
  animation-name: blinking;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
}

.subhead{
  font-weight: bolder;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18pt;
  color: #3c3836;
  font-family: 'Times New Roman', Times, serif;
  animation: typing 3s steps(40, end);
}


.Tbox{
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.projects{
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.projectcard{
  height: 400px;
  width: 300px;
  background-color: #ebdbb2;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 10px 10px;
  overflow: hidden;
}

.projectcard:hover{
  transform: scale(1.1);
}

.projectborder{
  height: 100%;
  width: 100%;
  border: 2px solid #282828;
  border-radius: 5px;
  padding: 5px;
}
.legend{
  display: inline;
  background: #ebdbb2;
  padding: 5px 10px;
  position: relative;
  bottom: 20px;
}
.projecttitle{
  font-size: 16pt;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  text-align: center;
  color: #282828;
}

.projectdesc{
  font-size: 12pt;
  font-family: 'Times New Roman', Times, serif;
  color: #3c3836;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
}

.projectsbox{
  background-color: #ffffff00; 
}

.projectGrid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

@media only screen and (max-width: 992px){
  .projectGrid{
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 600px){
  .projects{
    height: auto;
  }
  .projectGrid{
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    gap: 25px;
  }
}

.aboutme{
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
}

.aboutmebox{
  background-color: #ebdbb2;
  border: none;
  border-radius: 5px;
  height: 400px;
  padding: 10px 10px 10px 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.aboutmeheading{
  display: flex;
  height: 10%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  text-align: start;
  font-size: 20pt;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: #ebdbb2;
  background-color: #3c3836;
  padding: 10px 0 10px 10px;
  border: none;
  border-radius: 5px;
}

.splitbox{
  height: 90%;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media only screen and (max-width: 1000px){
  .splitbox{
    flex-direction: column;
  }
}

.description{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #3c3836;
  font-size: 14pt;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 50%;
}

@media only screen and (max-width: 1000px){
  .description{
    height: 50%;
    width: 100%;
  }
  .links{
    height: 50%;
    width: 100%;
  }
  .aboutmebox{
    height: auto;
  }
}

.linkbox{
  text-decoration: none;
  display: inline-flex;
  padding: 5px 5px 5px 5px;
  color: #3c3836;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14pt;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
}
.linkimg{
  height: 50px;
  width: 50px;
}

.link{
  border: 1px solid #3c3836;
  border-radius: 20px;
  padding: 2px 10px 2px 10px;
}

.information{
  border: 1px solid #3c3836;
  border-radius: 20px;
  padding: 2px 10px 2px 10px;
}

@media only screen and (max-width: 700px){
  .linkbox{
    gap: 2px;
  }
  .link{
    display: none;
  }
}
